.welcome-header {
  font-size: 50px;
  color: teal;
  font-weight: bold;
  text-align: center;

}


body {
    font-size: 14px;
    padding: 10px;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav a {
    display: block;
    padding: 10px 20px;
    margin: 5px 0;
    text-decoration: none;
    color: white;
    background-color: teal;
    border-radius: 5px;
    width: 60%;
    text-align: center;
  }

  nav a:hover {
    background-color: orange;
  }


  img {
    width: 100%;
    height: auto;
  }


  .footer {
    clear: both;
    background-color: teal;
    padding: 10px;
    text-align: center;
    color: white;
  }
  